*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
}
main{
    width:100%;
    height:100vh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
section{
    width: 1500px;
    height: 900px;
    border: 1px solid white;
    margin: auto;
}
nav{
    display: flex;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}
header{
    width: 100%;
    height: 70px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}
header ul{
    display: flex;
    gap: 40px;
    list-style: none;
    text-decoration: none;   
}

header a{
    text-decoration: none;
    color: white;
    margin-top: 5px;
   
}
header img{
    padding: 0px 60px;
}
header input{
    width: 120px;
    height: 35px;
    border-radius: 10px;
    display: flex;
   padding: 3px 5px;
   background-color: #F4FBFF1A;
   color: white;
   border: 2px solid white;
   
}
.search{
    width: 250px;
    height: 50px;
   
    display: flex;
    justify-content: space-between;
    align-items: center ;
    margin-right: 60px;
}
.search i{
    font-size: 20px;
    color: white;
}
.img{
    width: 1400px;
    height: 600px;
    margin: auto;
    margin-top: 30px;
    border: none;
}
.img img{
    width: 100%;
    height: 600px;
    color: black;
}
footer{
    width: 100%;
    height: 160px;
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 60px;
}
footer .box{
    display: flex;
    gap: 50px;
    color: white;
    
}
footer .box2{
    width: 289px;
    height: 60px;
    background-color: rgb(51, 0, 255);
    border-radius: 85px;
    display: flex;
    justify-content: center;
    align-items: center;
   
}
h3{
    color: white ;
}
.box2 i{
    padding: 0px 10px;
}